 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1536px;
}

.u-section-1 .u-image-1 {
  width: 644px;
  height: 497px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 63px 26px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 430px;
  width: 795px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -333px auto 0 73px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  text-shadow: 2px 2px 17px rgba(0,0,0,0.75);
  font-weight: 700;
  text-transform: none;
  margin: 46px 0 0 13px;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 495px;
  min-height: 46px;
  background-image: none;
  margin: 13px 286px 0 13px;
}

.u-section-1 .u-search-icon-1 {
  background-image: none;
  height: 16px;
  padding: 4px;
}

.u-section-1 .u-search-input-1 {
  font-weight: 700;
}

.u-section-1 .u-image-2 {
  width: 256px;
  height: 190px;
  margin: -594px auto 0 73px;
}

.u-section-1 .u-group-2 {
  width: 1041px;
  min-height: 354px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 417px 26px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 69px 110px 0 184px;
}

.u-section-1 .u-image-3 {
  width: 365px;
  height: 430px;
  margin: 83px auto 0 63px;
}

.u-section-1 .u-text-3 {
  font-size: 3.25rem;
  margin: -403px 169px 0 511px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -4px 0 60px 511px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 60px;
    margin-left: 133px;
    width: 747px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 69px;
    margin-left: 411px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 0;
  }

  .u-section-1 .u-search-1 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 260px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 417px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -253px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-search-1 {
    margin-right: 45px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-left: 80px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 263px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -99px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-search-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 401px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 2101px;
}

.u-section-2 .u-list-1 {
  width: 902px;
  margin: -122px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  min-height: 319px;
  grid-gap: 25px 25px;
  grid-auto-columns: calc(33.3333% - 16.6667px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 192px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: -8px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 192px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: -8px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 24px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 192px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  margin: -8px 0 0;
}

.u-section-2 .u-image-1 {
  width: 485px;
  height: 487px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 79px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 900;
  font-size: 2.6875rem;
  margin: -440px calc(((100% - 1140px) / 2) + 518px) 0 calc(((100% - 1140px) / 2) + 86px);
}

.u-section-2 .u-image-2 {
  width: 526px;
  height: 347px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px auto 0 calc(((100% - 1140px) / 2) + 86px);
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: -265px calc(((100% - 1140px) / 2) + 84px) 0 calc(((100% - 1140px) / 2) + 655px);
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 24px calc(((100% - 1140px) / 2) + -8px) 0 calc(((100% - 1140px) / 2) + 655px);
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 204px calc(((100% - 1140px) / 2) + 653px) 0 calc(((100% - 1140px) / 2) + 86px);
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  margin: 24px calc(((100% - 1140px) / 2) + 561px) 0 calc(((100% - 1140px) / 2) + 86px);
}

.u-section-2 .u-image-3 {
  width: 485px;
  height: 338px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -271px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 50px calc(((100% - 1140px) / 2) + 84px) 0 calc(((100% - 1140px) / 2) + 655px);
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: 24px calc(((100% - 1140px) / 2) + -8px) 0 calc(((100% - 1140px) / 2) + 655px);
}

.u-section-2 .u-text-14 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 24px calc(((100% - 1140px) / 2) + 473px) 0 calc(((100% - 1140px) / 2) + 86px);
}

.u-section-2 .u-image-4 {
  height: 313px;
  width: 1173px;
  margin: 34px 0 29px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 2038px;
  }

  .u-section-2 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16.6667px));
    grid-auto-columns: calc(33.333333333333336% - 16.6667px);
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 404px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 86px);
  }

  .u-section-2 .u-text-8 {
    margin-top: -264px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 539px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + -8px);
    margin-left: calc(((100% - 940px) / 2) + 555px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 539px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 447px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-3 {
    height: 337px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 539px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + -8px);
    margin-left: calc(((100% - 940px) / 2) + 555px);
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2) + 359px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-4 {
    height: 251px;
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1979px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.500024999999999px));
    min-height: 806px;
    grid-auto-columns: calc(50% - 12.500024999999999px);
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 184px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 86px);
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 319px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + -8px);
    margin-left: calc(((100% - 720px) / 2) + 445px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 319px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + 227px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 319px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + -8px);
    margin-left: calc(((100% - 720px) / 2) + 445px);
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2) + 139px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-4 {
    height: 192px;
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1931px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 4px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 139px);
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + -8px);
    margin-left: calc(((100% - 540px) / 2) + 355px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + 139px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + 47px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 139px);
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + -8px);
    margin-left: calc(((100% - 540px) / 2) + 355px);
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-4 {
    height: 144px;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1508px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 341px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 224px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + -8px);
    margin-left: calc(((100% - 340px) / 2) + 255px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 236px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2) + -8px);
    margin-left: calc(((100% - 340px) / 2) + 255px);
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-4 {
    height: 91px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 280px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 56px 790px 0 116px;
}

.u-section-3 .u-text-2 {
  line-height: 2.2;
  font-size: 1rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: -154px -50px 60px 455px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 33px;
    margin-right: 689px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -101px;
    margin-left: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 103px;
    margin-right: 486px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 33px;
    margin-right: 306px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -38px;
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 103px;
    margin-right: 106px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 501px;
}

.u-section-4 .u-table-1 {
  margin-top: 49px;
  margin-bottom: 128px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-71f9-4 {
  background-image: none;
}

.u-section-4 .u-table-cell-1 {
  font-weight: 700;
  font-size: 1.625rem;
}

.u-section-4 .u-table-cell-2 {
  font-size: 1.625rem;
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1.625rem;
}

.u-section-4 .u-table-cell-4 {
  font-weight: 700;
  font-size: 1.625rem;
}

.u-section-4 .u-table-cell-5 {
  font-weight: 700;
  font-size: 1.625rem;
}